<mat-card class="ht-w-30 ht-center ht-mtop-5">
    <mat-card-title class="ht-text-center">Cadastro de usuário</mat-card-title>
    <mat-card-content>
        <form [formGroup]="userRegistrationForm" (submit)="registerUser()" class="ht-flex ht-flex-col">
            <mat-form-field appearance="standard" class="ht-w-100">
                <mat-label>Nome de usuário</mat-label>
                <input matInput type="text" formControlName="username">
                <mat-error *ngIf="userRegistrationForm.controls['username'].hasError('required')">
                    Informe seu nome de usuário
                </mat-error>
                <mat-error *ngIf="userRegistrationForm.controls['username'].hasError('pattern')">
                    Deve totalizar no mínimo 3 caracteres iniciando com letra e não deve conter caracteres especiais e
                    espaços em branco
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="ht-w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email">
                <mat-error *ngIf="userRegistrationForm.controls['email'].hasError('required')">
                    Informe seu email
                </mat-error>
                <mat-error *ngIf="userRegistrationForm.controls['email'].hasError('pattern')">
                    Email inválido
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard" class="ht-w-100">
                <mat-label>Senha</mat-label>
                <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password"
                    (ngModelChange)="updateConfirmValidator()">
                <mat-error *ngIf="userRegistrationForm.controls['password'].hasError('required')">
                    Informe sua senha
                </mat-error>
                <mat-error *ngIf="userRegistrationForm.controls['password'].hasError('pattern')">
                    A senha deve conter no mínimo um número, uma letra, um caracterer especial e totalizar no mínimo 6
                    caracteres
                </mat-error>
                <button mat-icon-button matSuffix (click)="showPassword = !showPassword" type="button" tabindex="-1">
                    <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="standard" class="ht-w-100">
                <mat-label>Confirme a senha</mat-label>
                <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirmPassword">
                <mat-error *ngIf="userRegistrationForm.controls['confirmPassword'].hasError('required')">
                    Confirme a senha
                </mat-error>
                <mat-error *ngIf="userRegistrationForm.controls['confirmPassword'].hasError('confirm')">
                    Senhas inconsistentes
                </mat-error>
                <button mat-icon-button matSuffix (click)="showConfirmPassword = !showConfirmPassword" type="button"
                    tabindex="-1">
                    <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <div class="ht-flex ht-flex-row-rev ht-gap-1">
                <button mat-raised-button color="primary" type="submit">Cadastrar</button>
                <button mat-button type="button" [routerLink]="['/login']">Cancelar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>